@model Väderdata.Web.Data.MögelRisk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MögelRisk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskFörMögel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskFörMögel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MögelIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MögelIndex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
