@model IEnumerable<Väderdata.Web.Data.MeteorologicalSeason>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HöstStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HöstDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinterStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinterDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HöstStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HöstDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinterStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinterDatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
